* {
  box-sizing: border-box;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;
  padding: 20px;
  text-align: center;
  font-size: 21px;
}



nav{
  position:relative;
  min-width:40px;
  min-height:40px;
  overflow:hidden;
}
nav input{
  display:none;
}
nav input:checked ~ label span:last-child{
  display:none;
}
nav input:not(:checked) ~ label span:first-child{
  display:none;
}
nav label{
  display:block;
  position:relative;
  right:0px;
  top:0px;
  user-select:none;
  width:41px;
  height:41px;
  text-align:center;
  line-height:40px;
  background:#333;
  color:white;
  cursor:pointer;
}
/*Sizing to 0*/
nav ul{
  overflow:hidden;
  width:0;
  height:0;
  padding:0;
  margin:0;
  transition:width 0.5s, height 0.5s;
  list-style:none;
}
/*visible list*/
nav input:checked ~ 
ul{
  width:200px;
  height:400px;
}

nav ul li a{
  color:#333;
  background:#ffffff;
  text-decoration:none;
  font-family:'Roboto', sans-serif;
  display:block;
  width:200px;
  height:30px;
  line-height:30px;
  letter-spacing:2px;
  text-align:center;
  transition:color 0.5s, background 0.5s;
}
nav ul li a:hover{
  background:#333;
  color:white;
}


@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

@font-face {
    font-family: "openDyslexic";
    src: url('fonts/OpenDyslexic-Regular.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 2px solid #DDD;
}

tr:hover {
  background-color: #ffcffe;
}

tr:focus {
  background-color: #f8c0ff;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
	'table of food sources'
    'footer';
  background-color: rgb(247, 163, 229);
  gap: 10px;
}

header {
  background-color: #731576;
  padding: 20px;
  text-align: center;
  font-family: "openDyslexic", Arial;
  font-size: 35px;
  color: rgb(255, 193, 242);
}

section {
  display: grid;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  vertical-align: middle;
}

p {
  font-family: "openDyslexic", Arial;
  font-size: 20px;
  color: #000000;
}

.cred {
  font-family: "openDyslexic", Arial;
  font-size: 15px;
  color: #6c6c6c;
}

a.cred {
  font-family: "openDyslexic", Arial;
  font-size: 15px;
  color: #606060;
}

a.cred:hover {
  color: #313131;
}

.txt {
  font-family: "openDyslexic", Arial;
  font-size: 20px;
  text-align: left;
  color: #272727;
}

a.txt {
  font-family: "openDyslexic", Arial;
  font-size: 25px;
  color: #2b2b2b;
}

a.txt:hover {
  font-family: "openDyslexic", Arial;
  font-size: 25px;
  color: #000000;
  transition: opacity 2s ease-in;
}

footer {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  font-family: "openDyslexic", Arial;
  background-color: #ffffff;
  padding: 1.5%;
}

